
[build]
  # যেহেতু আপনি কোনো বিল্ড ফ্রেমওয়ার্ক (যেমন Vite) ব্যবহার করছেন না, তাই রুট ডিরেক্টরিই পাবলিশ হবে
  publish = "."
  # ফাংশন ফোল্ডার লোকেশন
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@netlify/functions"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
